.header {
  background-color: $main-color;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  color: $primary-color;

  i {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &_image {
    background-image: url("../../public/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30vh;
  }
}