.menu {
  font-size: 1.5rem;
  position: absolute;
  background-color: $main-color;
  width: 100%;
  padding-top: 64px;

  ul {
    width: 100%;

    li {
      padding: 0.5rem;
      border-bottom: 1px solid $accent-color;
      display: flex;
      color: $text-color;

      &:last-child {
        border: none;
      }

      i {
        width: 5rem;
        height: 2rem;
        text-align: center;
      }
    }
  }
}

label {
  width: 5rem;
  height: 2rem;
}

#adults {
  margin-left: auto;
  width: 0;
  height: 0;

  &:checked + label {
    transform: rotate(180deg);
  }
}

#children {
  margin-left: auto;
  width: 0;
  height: 0;

  &:checked + label {
    transform: rotate(180deg);
  }
}

li {
  a {
    height: 25px;
  }
}