.register-form {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.register {
  font-size: 1.5rem;
  margin: 0.5rem 1rem 1rem 1rem;
  color: $text-color;
}

@include tablet {
  .register-form {
    padding-top: 20vh;
  }
}