.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  position: absolute;
  background-color: $main-color;
  width: 100%;
}

.search-mobile {
  width: 75%;
  background-color: $main-color;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid $accent-color;
  &+i {
    color: $primary-color;
  }
}